*{
    margin: 0;
    padding: 0;
    font-family: Arial, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 