.home{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.home .body-home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
}